.chmt-markblk {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;

    margin-top: 20px;
}

.chmt-markblk-btn {
    margin-top: 20px;
}

.chmt-markblk-canvas {
    border-style: solid;
    border-width: 1px;
}

.chmt-markblk-group {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

